{:deps true
 :builds       {:calva-lib
                {:target    :node-library
                 :exports   {:testFunction calva.foo/test-function}
                 :output-to "src/cljs-lib/out/cljs-lib.js"}
                :extension
                {:target :npm-module
                 :output-dir "node_modules/shadow-cljs"
                 :entries [calva-cljs.extension
                           calva.foo]
                 :devtools {:before-load-async calva-cljs.extension/before-load-async
                            :after-load calva-cljs.extension/after-load}}}}

