{:deps true
 :builds
 {:ext {:target :node-library
        :exports {:activate calva-cljs.extension/activate
                  :deactivate calva-cljs.extension/deactivate}
        :output-dir "lib/ext"
        :output-to "lib/ext.js"}}}