{:deps true
 :builds       {:calva-lib
                {:target    :npm-module
                 :entries [calva.foo]
                 :output-dir "node_modules/shadow-cljs"}
                :extension
                {:target :node-library
                 :exports {:activate calva-cljs.extension/activate
                           :deactivate calva-cljs.extension/deactivate}
                 :output-dir "lib/js"
                 :output-to "lib/main.js"
                 :devtools {:before-load-async calva-cljs.extension/before-load-async
                            :after-load calva-cljs.extension/after-load}}}}

